---
---
@import "{{site.theme}}";

h1 {
    color: red;
}

h2 {
    color: yellow;
}

body {
    background-color: orange;
    font-family: Roboto;
}

.about {
    color: black;
    background-color: pink;
}

li a.btn {
    display: flex;
}